BODY {
    margin: 100px;
    background-color: black;
}

img{
    margin-right: 85px;
    transform: rotate(-45deg);
}

.pica{
    display: flex;
    margin-top: 90px;
    margin-left: 250px;
}

.picb{
    display: flex;

    margin:-55px 0px -55px 108px ;    
}
.picc{
    display: flex;
    margin-left: 250px;
    
}