* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

BODY {
    padding: 80px;
    background-color: black;
}

img {
    margin-left: 90px;
    transform: rotate(-45deg);
}

.pica {
    position: absolute;
    left: 277px;
    top: 100px;
}

.picb {
    position: absolute;
    top: 250px;
    left:130px;
}

.picc {
    position: absolute;
    top: 400px;
    left: 277px;
}